@import 'tailwindcss';
/* Fonts */
@font-face {
    font-family: 'TheLoveClub';
    src: url('/assets/fonts/TheLoveClub.otf') format('opentype');
    font-weight:400
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/lato/Lato-Black.ttf') format('truetype');
    font-weight:900
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/lato/Lato-Bold.ttf') format('truetype');
    font-weight:700
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/lato/Lato-Regular.ttf') format('truetype');
    font-weight:400
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/lato/Lato-Light.ttf') format('truetype');
    font-weight:300
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/lato/Lato-Thin.ttf') format('truetype');
    font-weight:100
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/lato/Lato-BoldItalic.ttf') format('truetype');
    font-weight:700;
    font-style:italic
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/lato/Lato-LightItalic.ttf') format('truetype');
    font-weight:300;
    font-style:italic
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/lato/Lato-ThinItalic.ttf') format('truetype');
    font-weight:100;
    font-style:italic;
}

/* Matter font */
@font-face {
    font-family: 'Matter';
    src: url('/assets/fonts/Matter/Matter-Light.ttf') format('truetype');
    font-weight:300;
}

@font-face {
    font-family: 'Matter';
    src: url('/assets/fonts/Matter/Matter-Regular.ttf') format('truetype');
    font-weight:400;
}

@font-face {
    font-family: 'Matter';
    src: url('/assets/fonts/Matter/Matter-Medium.ttf') format('truetype');
    font-weight:500;
}

@font-face {
    font-family: 'Matter';
    src: url('/assets/fonts/Matter/Matter-SemiBold.ttf') format('truetype');
    font-weight:600;
}

@font-face {
    font-family: 'Matter';
    src: url('/assets/fonts/Matter/Matter-Bold.ttf') format('truetype');
    font-weight:700;
}

@font-face {
    font-family: 'Matter';
    src: url('/assets/fonts/Matter/Matter-Heavy.ttf') format('truetype');
    font-weight:800;
}

@theme{
    /* fonts */
    --font-heading: 'TheLoveClub';
    --font-body: 'Lato';
    --font-alternative: 'Matter';

    --color-brand-color-default: #00AAFE;
    --color-black-scale-default: #000000;
    --color-biege-drv-default: #FFFCF5;
    --color-yellow-drv-default: #FFF700;

    /* Brand colors */
    --color-brand-color-001: #001119;
    --color-brand-color-002: #002233;
    --color-brand-color-003: #00334C;
    --color-brand-color-004: #004466;
    --color-brand-color-005: #006698;
    --color-brand-color-006: #0088CB;
    --color-brand-color-007: #00AAFE;
    --color-brand-color-008: #33BBFE;
    --color-brand-color-009: #66CCFE;
    --color-brand-color-010: #99DDFF;
    --color-brand-color-011: #B2E5FF;
    --color-brand-color-012: #CCEEFF;
    --color-brand-color-013: #E5F6FF;

    /* Black scale colors */
    --color-black-scale-001: #333333;
    --color-black-scale-002: #666666;
    --color-black-scale-003: #999999;
    --color-black-scale-004: #B3B3B3;
    --color-black-scale-005: #CCCCCC;
    --color-black-scale-006: #E6E6E6;

    /* Biege colors */
    --color-biege-001: #1A1900;
    --color-biege-002: #333100;
    --color-biege-003: #4D4A00;
    --color-biege-004: #666300;
    --color-biege-005: #999400;
    --color-biege-006: #CCC600;
    --color-biege-007: #FFF700;
    --color-biege-008: #FFF933;
    --color-biege-009: #FFFA66;
    --color-biege-010: #FFFC99;
    --color-biege-011: #FFFDB2;
    --color-biege-012: #FFFDCC;
    --color-biege-013: #FFFEE5;

    /* Orange colors */
    --color-orange-*: initial;
    --color-orange-001: #1A0900;
    --color-orange-002: #331300;
    --color-orange-003: #4D1C00;
    --color-orange-004: #662600;
    --color-orange-013: #FFEFE5;
    --color-orange-default: #FF5E00;

    /* Rose colors */
    --color-rose-010: #FFF8F4;

    /* Green colors */
    --color-green-*: initial;
    --color-green-005: #009923;
    --color-green-012: #B2FFC4;
    --color-green-014: #E5FFEB;
    --color-green-005: #009923;

    /* Yellow colors */
    --color-yellow-*: initial;
    --color-yellow-013: #FFFEE5;

    /* Gray colors */
    --color-gray-*: initial;
    --color-gray-001: #242933;
    --color-gray-009: #ECEEF3;
    --color-gray-010: #F2F4F7;
    --color-gray-011: #F8F9FC;

    /*Layout colors*/
    --color-auth-bg: var(--color-white);
    --color-auth-heading: #000000;
    --color-auth-subheading: #3B404A;
    --color-input-label: #000000;
    --color-input-text: #000000;
    --color-input-placeholder: #B3B3B3;
    --color-input-border: #DFE3EC;
    --color-auth-pass-hide-btn: #F2F4F7;
    --color-auth-pass-hide-btn-text: #000000;
    --color-auth-forgot-pass-container: #F2F4F7;
    --color-auth-forgot-pass-text: #333333;
    --color-auth-forgot-pass-btn: #FFFFFF;
    --color-auth-forgot-pass-btn-text: #000000;
    --color-default-text: #000000;
    --color-default-bg: #FFFFFF;

    /* Dashboard colors */
    --color-dashboard-bg: var(--color-white);
    --color-dashboard-card-border: #E6E9EF;
    --color-dashboard-card-divider: #F2F4F7;
    --color-dashboard-header-border: #ECEEF3;
    --color-dashboard-input-border: #E6E9EF;
    --color-dashboard-heading: #242933;
    --color-dashboard-text: #6A6E76;
    --color-dashboard-text-light: #D9D9D9;

    /* Sidebar colors */
    --color-dashboard-sidebar-text: #6A6E76;
    --color-dashboard-sidebar-logo: #242933;
    --color-sidebar-profile-name: #000000;
    --color-sidebar-profile-role: #6A6E76;

    /* Dropdown */
    --color-dropdown-outline: #F8F9FC;
    --color-dropdown-border: #F2F4F7;
    --color-dropdown-heading: #666666;

    /* Business stats */
    --color-business-stat-level: #C9CBCF;
    --color-business-stat-currency: #6A6E76;
    --color-business-stat-border: black;
    --color-stat-level-1: #00B22D;
    --color-stat-level-2: #E32900;

    /* Table*/
    --color-table-heading-bg: #F8F9FC;

    /*Chat box*/
    --color-chat-bg: var(--color-gray-010);
}
